<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.uniHamburg.informatik.continuousvoice"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- ### PERMISSIONS -->
    <!-- temporarily store audio records, store pocketsphinx files -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- needed to ensure audio can be recorded even though a bluetooth audio device is connected -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
	<!-- obviously -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- turn off beeping for built-in recognition -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- send audio files to the recognizer web services -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- for nuance -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- PERMISSIONS ### -->
    
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.uniHamburg.informatik.continuousvoice.MainActivity"
            android:label="@string/app_name"
             >
             <!-- android:screenOrientation="portrait" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>